extends layout

block content
  h1= title
  p Welcome to #{title}
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Sign Up

        // register form
        form(method='POST' action='/')
          div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', name='name' value=(undefined===ex ? '' : ex.name))
          div.form-group
            label(for='description') Description:
            input#description.form-control(type='text',  name='description' value=(undefined===ex ? '' : ex.description))
          div.form-group
            label(for='sets') Sets:
            input#sets.form-control(type='number',  name='sets' value=(undefined===ex ? '' : ex.sets))
          div.form-group
            label(for='reps') Reps:
            input#reps.form-control(type='text' name='reps' value=(undefined===ex ? '' : ex.reps))
          button.btn.btn-primary(type='submit') Sign up
